.hat{
    height: 60px;
    background-color: #469597;
    display: flex;
}
.hat div{
    display: flex;
    align-items: center;
}
.hat div button{
    background-color: initial;
    height: 60px;
    width: 60px;
    background-size: 75%;
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    padding: 0;
}
.hat div button:active{
    background-color: rgba(255,255,255,0.6);
}

