body {
  margin: 0;
  font-family: "Champagne & Limousines", Champange, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceeee;
}
h1{
  text-transform: uppercase;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: Champange;
  src: url("./fonts/champagne_Limousines.ttf") format("truetype");
}
@font-face {
  font-family: Champange;
  src: url("./fonts/champagne_Limousines_Bold.ttf") format("truetype");
  font-weight: bold;
}

